{% extends "layout.html" %}
{% block title %}
套餐
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" type="text/css" id="main-css">
{% endblock %}
{% block body %}
                <!-- subheader begin -->
        <div id="subheader">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Packages</h1>
                        <span>Select Your Hosting Plan.</span>
                        <ul class="crumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="sep">/</li>
                            <li>Packages</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- subheader close -->

        <!-- content begin -->
        <div id="content" class="no-bottom">
            <div class="container">
                <div class="block-title text-center">
                    <h1>Select Your Hosting Plan</h1>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                </div>

                <div class="pricing-5-col">
                    <!-- pricing box begin -->
                    <div class="pricing-box">
                        <ul>
                            <li class="title-row">
                                <h4>Free</h4>
                            </li>
                            <li class="price-row">
                                <h1>$0</h1>
                                <span>/month</span></li>
                            <li><strong>Quad Core</strong> Processor</li>
                            <li class="deco"><strong>10GB</strong> Hardisk</li>
                            <li><strong>8GB</strong> Ram</li>
                            <li class="deco"><strong>Admin</strong> Area</li>
                            <li><strong>Unlimited</strong> Mail</li>
                            <li class="deco"><strong>24/7</strong> Free Support</li>
                            <li class="btn-row"><a href="" class="btn btn-primary">Order Now</a></li>
                        </ul>
                    </div>
                    <!-- pricing box close -->

                    <!-- pricing box begin -->
                    <div class="pricing-box">
                        <ul>
                            <li class="title-row">
                                <h4>Basic</h4>
                            </li>
                            <li class="price-row">
                                <h1>$29</h1>
                                <span>/month</span></li>
                            <li><strong>Quad Core</strong> Processor</li>
                            <li class="deco"><strong>10GB</strong> Hardisk</li>
                            <li><strong>8GB</strong> Ram</li>
                            <li class="deco"><strong>Admin</strong> Area</li>
                            <li><strong>Unlimited</strong> Mail</li>
                            <li class="deco"><strong>24/7</strong> Free Support</li>
                            <li class="btn-row"><a href="" class="btn btn-primary">Order Now</a></li>
                        </ul>
                    </div>
                    <!-- pricing box close -->

                    <!-- pricing box begin -->
                    <div class="pricing-box pricing-featured">
                        <ul>
                            <li class="title-row">
                                <h4>Silver</h4>
                            </li>
                            <li class="price-row">
                                <h1>$59</h1>
                                <span>/month</span></li>
                            <li><strong>Quad Core</strong> Processor</li>
                            <li class="deco"><strong>10GB</strong> Hardisk</li>
                            <li><strong>8GB</strong> Ram</li>
                            <li class="deco"><strong>Admin</strong> Area</li>
                            <li><strong>Unlimited</strong> Mail</li>
                            <li class="deco"><strong>24/7</strong> Free Support</li>
                            <li class="btn-row"><a href="" class="btn btn-primary">Order Now</a></li>
                        </ul>
                    </div>
                    <!-- pricing box close -->

                    <!-- pricing box begin -->
                    <div class="pricing-box">
                        <ul>
                            <li class="title-row">
                                <h4>Gold</h4>
                            </li>
                            <li class="price-row">
                                <h1>$99</h1>
                                <span>/month</span></li>
                            <li><strong>Quad Core</strong> Processor</li>
                            <li class="deco"><strong>10GB</strong> Hardisk</li>
                            <li><strong>8GB</strong> Ram</li>
                            <li class="deco"><strong>Admin</strong> Area</li>
                            <li><strong>Unlimited</strong> Mail</li>
                            <li class="deco"><strong>24/7</strong> Free Support</li>
                            <li class="btn-row"><a href="" class="btn btn-primary">Order Now</a></li>
                        </ul>
                    </div>
                    <!-- pricing box close -->

                    <!-- pricing box begin -->
                    <div class="pricing-box">
                        <ul>
                            <li class="title-row">
                                <h4>Platinum</h4>
                            </li>
                            <li class="price-row">
                                <h1>$199</h1>
                                <span>/month</span></li>
                            <li><strong>Quad Core</strong> Processor</li>
                            <li class="deco"><strong>10GB</strong> Hardisk</li>
                            <li><strong>8GB</strong> Ram</li>
                            <li class="deco"><strong>Admin</strong> Area</li>
                            <li><strong>Unlimited</strong> Mail</li>
                            <li class="deco"><strong>24/7</strong> Free Support</li>
                            <li class="btn-row"><a href="" class="btn btn-primary">Order Now</a></li>
                        </ul>
                    </div>
                    <!-- pricing box close -->

                    <div class="clearfix"></div>

                </div>

                <hr>

                <div class="block-title text-center">
                    <h1>What's new at Truehost</h1>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                </div>

                <div class="row">
                    <div class="feature-box-image col-md-4">
                        <div class="inner">
                            <div class="text">
                                <img src="images/blank.png" data-original="images/feature-pic-1.jpg" alt="">
                                <h3>High Performance</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                            </div>
                        </div>
                    </div>

                    <div class="feature-box-image col-md-4">
                        <div class="inner">
                            <div class="text">
                                <img src="images/blank.png" data-original="images/feature-pic-2.jpg" alt="">
                                <h3>Traffic Booster</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                            </div>
                        </div>
                    </div>

                    <div class="feature-box-image col-md-4">
                        <div class="inner">
                            <div class="text">
                                <img src="images/blank.png" data-original="images/feature-pic-3.jpg" alt="">
                                <h3>Reliable Hardware</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content close -->
{% endblock%}